{% extends "base.html" %}

{% block main %}
<h5>All users:</h5>

{% for user in users %}


{% if user[0] not in ids %}
<div class="user">
  <img src="{{user[2]}}" alt="image for {{user[1]}}" class="profile">
  <span><a href="{{url_for('user_detail', user_id=user[0])}}">{{user[1]}}</a> <a class="btn btn-primary" href="{{url_for('follow', followee=user[0])}}">follow</a></span>
</div>
{% else %}
<div class="user">
  <img src="{{user[2]}}" alt="image for {{user[1]}}" class="profile">
  <span><a href="{{url_for('user_detail', user_id=user[0])}}">{{user[1]}}</a> <a class="btn btn-primary" href="{{url_for('unfollow', followee=user[0])}}">unfollow</a></span>
</div>
{% endif %}
{% endfor %}
{% endblock %}